.container {
  align-items: center;
  text-align: center;
  align-content: center;
}

.row {
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 1.7%;
  line-height: 115%;
}

.row1 {
  align-items: center;
  text-align: center;
  align-content: center;
  padding-bottom: 1%;
  padding-top: 6%;
}

.row h3 {
  text-align: center;
  align-items: center;
}

.header {
  text-align: center;
  align-items: center;
  padding: 0%;
  font-size: 300%;
  text-decoration: underline;
}

.image {
  padding: 0%;
  max-width: 200px;
  height: 120px;
}

/*
Code for centering the loading component. Taken from
https://stackoverflow.com/questions/396145/how-can-i-vertically-center-a-div-element-for-all-browsers-using-css
*/
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  display: flex;
}
