@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.appHeader {
  text-align: center;
  padding-bottom: 10%;
}

.button {
  background-color: #03dac5;
  text-decoration: none;
}

.colClass {
  padding: 2%;
}

.appHeader h1 {
  line-height: 130%;
  font-weight: bold;
  font-size: 250%;
}
