@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.globalDataPage {
  float: center;
  text-align: center;
}

.globalDataPageHeader {
  font-size: 65px;
  padding-bottom: 35px;
}

.totalStats h2 {
  float: center;
  text-align: center;
  display: inline-flex;
  padding: 25px;
}

.newStats h2 {
  float: center;
  text-align: center;
  display: inline-flex;
  padding: 25px;
  padding-bottom: 80px;
}

.countrySearch {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countrySearchText {
  margin-bottom: 32px;
  text-align: center;
}

.countrySearchInput {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #ac32e4, #7918f2, #4801ff);
  color: #e2e2e2;
}

.countrySearchInput::placeholder {
  color: #e2e2e2;
}

.tableHeaderRow {
  display: flex;
  justify-content: center;
}

.tableHeaderRow p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  border-bottom: 10px solid #d7d7d7;
  padding-bottom: 20px;
}

.countryNameTable {
  width: 280px;
}

.totalCasesTable {
  width: 210px;
}

.totalDeathsTable {
  width: 250px;
}

.newCasesTable {
  width: 200px;
}

.newDeathsTable {
  width: 200px;
}

.appHeader {
  text-align: center;
  padding-bottom: 10%;
  line-height: 30px;
}

.button {
  background-color: #03dac5;
  text-decoration: none;
}

.colClass {
  padding: 1.75%;
}
